.span_width{
    width: 100%;
    justify-content: center;    
    /*border: 1px dotted firebrick;*/
    text-align: center;
}

.class_button{
    width:60%;    
    padding-top: 75%;
    /*height:60%;*/    
}

.span_height{
    display: inline-block;
    width:32%; /* as 33 % breaks the layout*/
    /* padding-top: 25%; */
    border: 1px dotted firebrick;
}